<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasNavbar"
  aria-controls="offcanvasNavbar"
  aria-label="Toggle navigation"
>
  <i class="bi bi-list fs-2"></i>
</button>

<!-- MENU -->
<div
  class="offcanvas offcanvas-end bg-white text-black"
  tabindex="-1"
  id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel"
>
  <div class="offcanvas-header">
    <h5
      class="offcanvas-title text-uppercase text-secondary text-decoration-underline link-offset-3"
      id="offcanvasNavbarLabel"
    >
      {{title}}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul
      class="navbar-nav justify-content-end flex-grow-1 gap-3 pb-5 text-dark text-uppercase fw-medium"
      style="letter-spacing: 2.5px"
    >
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/street">Street</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formal">Formal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/watches-n-jewellery">Watches & Jewellery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lingerie-n-intimates-18"
          >Lingerie & Intimates (18+)</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cosmetics-n-perfumes"
          >Cosmetics & Perfumes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/food-n-beverage">Food & Beverage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/marketing-n-retailing"
          >Marketing & Retailing</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/music-n-art">Music & Art</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/other">Other</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          More
        </a>
        <ul class="dropdown-menu bg-white">
          <li>
            <a class="dropdown-item text-black" href="/about-realaer">About</a>
          </li>
          <li>
            <a class="dropdown-item text-black" href="/terms-n-conditions"
              >Terms & Conditions</a
            >
          </li>
          <li>
            <a class="dropdown-item text-black" href="/privacy-policy"
              >Privacy Policy</a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item text-black" href="/news">News</a></li>
        </ul>
      </li>
    </ul>
    <hr />
    <div class="hstack gap-3 my-3 justify-content-around">
      <a href="/" class="p-2 text-dark fs-4"><i class="bi bi-youtube"></i></a>
      <a href="/" class="p-2 text-dark fs-4"><i class="bi bi-instagram"></i></a>
      <a href="/" class="p-2 text-dark fs-4"><i class="bi bi-tiktok"></i></a>
      <a href="/" class="p-2 text-dark fs-4"><i class="bi bi-twitter"></i></a>
    </div>
    <div class="ratio ratio-1x1 bg-black text-white">
      <a href="">
        <div
          class="d-flex justify-content-center align-items-center h-100 w-100"
        >
          Hello
        </div>
      </a>
    </div>
  </div>
  <footer
    class="bg-black text-white text-center text-uppercase py-3"
    style="font-size: 0.75rem"
  >
    Realaer COPYRIGHT © 2023
  </footer>
</div>
