// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

$primary: #fbf78c;
/* 
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default; 
*/

$body-color: #ffffff;
$body-bg: #000000;

// 3. Include remainder of required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// Create your own map
$custom-colors: (
  'str': #fbf78c,
  'for': #eda38c,
  'wnj': linear-gradient(90deg, #f1dfaf -8.08%, #a49a77 105.24%),
  'lni': #e3bc9a,
  'cnp': #ff87ec,
  'din': #3bc951,
  'mnr': #faff00,
  'mna': #6948ef,
  'oth': #00e492,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Merge the maps

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
