---
layout: layouts/base.html
---

<div class="container my-4">
  <div class="row g-0">
    <div class="col-12 col-lg-5 bg-black p-3">
      <div class="ratio" style="aspect-ratio: 9/16">
        <img
          class="img-fluid rounded-4"
          style="object-fit: cover; object-position: center"
          src="{{ image }}"
          alt="{{ alt }}"
        />
      </div>
    </div>

    <div class="col-12 col-lg-7 px-1 py-3">
      <h1 class="text-uppercase fw-bold" style="line-height: 3.5rem">
        {{ title }}
      </h1>
      <h3 class="fs-4 fw-bold text-uppercase text-primary">{{ category }}</h3>
      <div class="my-3">
        <h6>By: <bdi>{{ author }}</bdi></h6>
        <time>{{ date }}</time>
      </div>
      <!--       <div style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%);" class=" text-uppercase p-3 rounded-4">
        <h4 class="text-center mb-4">share now</h4>
        <div class="row">
          <span class="col">
            <a  style="text-decoration: none;" class="d-flex gap-2 flex-column justify-content-center align-items-center " href=""><i class="bi bi-twitter fs-4"></i>Tweet</a>
          </span>
          <span class="col">
            <a  
              style="text-decoration: none;" 
              class="d-flex gap-2 flex-column justify-content-center align-items-center " 
              data-href="https://realaer.netlify.app/" 
            >
              <i class="bi bi-facebook fs-4"></i>
              Post
            </a>
          </span>
          <span class="col">
            <a  style="text-decoration: none;" class="d-flex gap-2 flex-column justify-content-center align-items-center " href=""><i class="bi bi-instagram fs-4"></i>Share</a>
          </span class="col">
          <span class="col">
            <a  
              style="text-decoration: none;" 
              class="d-flex gap-2 flex-column justify-content-center align-items-center " 
              onclick="window.print()">
                  <i class="bi bi-printer-fill fs-4"></i>
                  Print
            </a>
          </span>
        </div>
      </div> -->
      <div
        class="p-5 rounded-4 my-4 lh-lg"
        style="
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.1) 50%
          );
          text-align: justify;
          font-size: 1.05rem;
        "
      >
        <p>{{ description }}</p>
      </div>
      <div class="my-4">
        <a
          href="{{ youtube }}"
          class="rounded-3 p-2 d-flex justify-content-center gap-2 align-items-center text-center text-white fw-medium"
          style="
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.2) 0%,
              rgba(255, 255, 255, 0.1) 50%
            );
            font-size: 1.05rem;
            text-decoration: none;
          "
        >
          <i style="color: #ff0000" class="bi bi-youtube fs-4"> </i>
          Watch Now on Youtube
        </a>
      </div>
    </div>

    <div
      class="col-12 p-5 rounded-4"
      style="
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0.1) 50%
        );
        line-height: 28.5px;
        text-align: justify;
      "
    >
      {{ content | safe }}
    </div>
  </div>
</div>
