{% extends "layouts/base.html" %}
<div class="container" style="height: 90vh">
  <section class="row g-0">{{ content | safe }}</section>
</div>
<nav
  class="position-fixed text-center bottom-0"
  style="left: 0; right: 0"
  aria-label="..."
>
  <ul class="pagination gap-3 mx-3">
    <li class="page-item w-100">
      <a
        class="page-link d-block rounded-0 border-0 text-uppercase py-2"
        style="
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.1) 50%
          );
        "
        href="#"
        ><i class="bi bi-chevron-left"></i
      ></a>
    </li>
    <li class="page-item">
      <a
        style="
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.1) 50%
          );
        "
        class="page-link border-0 px-4 py-2"
        href="#"
        >1</a
      >
    </li>
    <li class="page-item w-100">
      <a
        class="page-link d-block rounded-0 border-0 text-uppercase py-2"
        style="
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.1) 50%
          );
        "
        href="#"
        ><i class="bi bi-chevron-right"></i
      ></a>
    </li>
  </ul>
</nav>
