---
layout: layouts/base.html
---

<section class="row g-0 bg-warning" style="max-height: 90vh;">
      <div class="col-12 col-lg-4 p-4">
            <a class=" position-relative d-block "  href="#">
              
              <img style="object-fit: cover;" class="img-fluid rounded-3" src="/assets/test-5.jpg" alt="">
      
      
            <div class="position-absolute w-100 top-0 text-center p-3" style="background-color: rgba(0, 0, 0, 0.5);">
              <h6 class="fs-5">Category here</h6>
            </div>
      
            <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 p-3" style="background-color: rgba(0, 0, 0, 0.5);">
              <h3 class="text-uppercase fs-4">the title goes here and here</h2>
            </div>
      
            </a>
            
              
            </div>
            <nav
  class="position-fixed text-center bottom-0"
  style="left: 0; right: 0"
  aria-label="..."
>
  <ul class="pagination bg-warning">
    <li class="page-item w-100">
      <a class="page-link" href="#">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item w-100">
      <a class="page-link d-block" href="#">Next</a>
    </li>
  </ul>
</nav>

</section>

