/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Text Selection Color */

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: rgba(255, 49, 166, 0.5);
}

::selection {
  color: #fff;
  background: rgba(255, 49, 166, 0.5);
}
